@import '../../../../index.scss';

h1 {
  font-family: big-john, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 3px;
}

#contact {
  height: calc(100vh - 60px);
  min-height: 766px;
}

#footer {
  @media (min-width: 1555px) {
    color: $black;
  }
}

.header {
  height: 20vh;
  font-family: avenirbook, arial, sans-serif;
}

.formContainer {
  height: 45vh;
}

.footer {
  height: calc(35vh - 60px);
}


/* **** Responsive **** */

/* Keeps elements within row */
@media (max-height: 766px) {
  .header {
    min-height: 200px;
  }
  .formContainer {
    min-height: 366px;
  }
  .footer {
    min-height: 200px;
  }
}

/* Extra small devices */
@media (max-width: $screen-xs-max) {
  .formContainer {
    max-width: 100%;
  }
  a {
    color: $orange;
  }
  .background {
    background: url("Assets/Background/cloud-3.png") bottom -7em left -10em no-repeat, url("Assets/Background/cloud-3.png") white bottom -9em left 1em no-repeat;
    background-size: 30em 15em, 30em 15em;
  }
  .headerText, #footer {
    font-size: small;
  }
}

/* Small devices */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .formContainer {
    max-width: 100%;
  }
  a {
    color: $orange;
  }
  .background {
    background: url("Assets/Background/cloud-two.png") bottom -1em left 10em no-repeat, url("Assets/Background/cloud-3.png") white bottom -5em left -10em no-repeat;
    background-size: 25em 8em, 30em 14em;
  }
}

/* Medium devices */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  h1 {
    color: #fff;
    font-size: 3rem;
  }
  a {
    color: #fff;
  }
  #contact {
    height: 100vh;
  }
  .background {
    background: url("Assets/Background/cloud-one.png") bottom -1em left 27em no-repeat, url("Assets/Background/cloud-two.png") bottom 0em left 2em no-repeat, url("Assets/Background/cloud-3.png") white bottom -6em left -15em no-repeat;
    background-size: 8em 4em, 30em 10em, 40em 20em;
  }
  .header {
    background-color: $orange;
    height: 30vh;
  }
  .headerText {
    font-size: 1.2em;
  }
  .formContainer {
    height: 60vh;
  }
  .footer {
    height: 10vh;
  }
}

/* Large devices */
@media (min-width: $screen-lg-min) {
  h1 {
    color: #fff;
    font-size: 3rem;
  }
  a {
    color: #fff;
  }
  #contact {
    height: 100vh;
  }
  .background {
    background: url("Assets/Background/cloud-one.png") bottom -1em left 30em no-repeat, url("Assets/Background/cloud-two.png") bottom 0em left 4em no-repeat, url("Assets/Background/cloud-3.png") bottom -3em left -20em no-repeat, url("Assets/Background/cloud-3.png") white bottom -7em left -10em no-repeat;
    background-size: 10em 5em, 30em 11em, 40em 20em, 40em 20em;
  }
  .header {
    background-color: $orange;
    height: 30vh;
  }
  .headerText {
    font-size: 1.3em;
  }
  .formContainer {
    height: 60vh;
  }
  .footer {
    height: 10vh;
  }
}
