@import '../../../../index.scss';

h1 {
  font-family: big-john;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 3px;
}

#contact {
  height: calc(100vh - 60px);
}

.header {
  height: 20vh;
  font-family: avenirbook;
}

.form {
  height: 45vh;
}

.footer {
  height: calc(35vh - 60px);
}


/* **** Responsive **** */

/* Extra small devices (phones, less than 767px) */
@media (max-width: $screen-xs-max) {
  a {
    color: $orange;
  }
  .background {
    background: url("Assets/Background/cloud-3.png") white bottom -8em left -6em no-repeat;
    background-size: 30em 14em;
  }
  .headerText, #footer {
    font-size: small;
  }
}

/* Small devices (tablets, 768px to 991px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  a {
    color: $orange;
  }
  .background {
    background: url("Assets/Background/cloud-two.png") bottom -2em left 2em no-repeat, url("Assets/Background/cloud-3.png") white bottom -8em left -10em no-repeat;
    background-size: 25em 8em, 30em 14em;
  }
}

/* Medium devices (desktops, 992px to 1199px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  h1 {
    color: #fff;
    font-size: 2rem;
  }
  a {
    color: #fff;
  }
  #contact {
    height: 100vh;
  }
  .background {
    background: url("Assets/Background/cloud-one.png") bottom -1em left 27em no-repeat, url("Assets/Background/cloud-two.png") bottom 0em left 2em no-repeat, url("Assets/Background/cloud-3.png") white bottom -6em left -15em no-repeat;
    background-size: 8em 4em, 30em 10em, 40em 20em;
  }
  .header {
    background-color: $orange;
    height: 30vh;
  }
  .headerText {
    font-size: 1.2em;
  }
  .form {
    height: 60vh;
  }
  .footer {
    height: 10vh;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  h1 {
    color: #fff;
    font-size: 3rem;
  }
  a {
    color: #fff;
  }
  #contact {
    height: 100vh;
  }
  .background {
    background: url("Assets/Background/cloud-one.png") bottom -2em left 30em no-repeat, url("Assets/Background/cloud-two.png") bottom 0em left 4em no-repeat, url("Assets/Background/cloud-3.png") bottom -4em left -20em no-repeat, url("Assets/Background/cloud-3.png") white bottom -9em left -10em no-repeat;
    background-size: 10em 5em, 30em 10em, 40em 20em, 40em 20em;
  }
  .header {
    background-color: $orange;
    height: 30vh;
  }
  .headerText {
    font-size: 1.3em;
  }
  .form {
    height: 60vh;
  }
  .footer {
    height: 10vh;
  }
}
