@import '../../../../index.scss';

#contact {
  background-color: #fff;
  height: 100vh;
}

h1 {
  color: #fff;
  font-family: big-john;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.header {
  background-color: $orange;
  height: 30%;
  font-family: avenirbook;
  font-size: 1.2em;
}

.form {
  // background-color: #fff;
  height: 50%;
  color: $orange;
  font-family: avenirbook;
}

.footer {
  height: 20%;
}


/* **** Responsive **** */

/* Extra small devices (phones, less than 767px) */
@media (max-width: $screen-xs-max) {
  .background {
    background-image: url("Assets/Background/cloud-3.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    // background-size: 2000px;
  }
}

/* Small devices (tablets, 768px to 991px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Medium devices (desktops, 992px to 1199px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
