@import '../../../../index.scss';

#contact {
  background-image: url("Assets/Background/cloud-3.png");
  background-color: #fff;
  background-position: left bottom;
  background-repeat: no-repeat;
  // background-size: 2000px;
  height: 100vh;
}

h1 {
  color: #fff;
  font-family: big-john;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.header {
  background-color: $orange;
  height: 30%;
  font-family: avenirbook;
  font-size: 1.2em;
}

.form {
  // background-color: #fff;
  height: 50%;
  color: $orange;
  font-family: avenirbook;
}

.footer {
  height: 20%;
}
