@import '../../../index.scss';

.scroller-container {

  .scroller {
    background-color: pink;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;

    .scrollerElement {
      width: 35px;
      height: 35px;
      margin: 0 auto;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      cursor: pointer;

      &:not(:first-child) {
        margin-top: -20px;
      }
    }
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}