@import '../../../index.scss';


.scroller {
  position: absolute;
  left: 25%;
  display: block;
  bottom: -240px;
  right: 25%;

  .scrollerElement {
    width: 35px;
    height: 35px;
    border: 1px solid #EF3C24;
    margin: -20px auto 0 auto;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    cursor: pointer;
  }
}

.scroller-row {
  position: relative;

  .container > div {
    background: black;
    height: 0;
    position: absolute;
    left: 25%;
    right: 25%;
    display: block;
    margin: 0 auto;
    bottom: 0;
  }
}