@import "../../../../../index.scss";

.team-user-container{  //Left Section
  
  .team-user-item-list{
    transition: 0s all;

    width: 450px;
    height: 530px;
    z-index: 2;
    
    @media screen and (max-width: 991px){
      z-index: 0;
      width: 100%;
    }
  }

}