@import "../../../../index.scss";

#services {
  overflow: hidden;

  .section-title {
    font-size: 3.1rem;

    span {

      &:first-child {
        color: $orange;
      }

      font-size: 1.45rem;
    }

  }

  .services-list {

    .services-list-item {
      font-family: avenirbook, sans-serif;
      font-size: 1.5rem;
      list-style-type: none;
    }

    ul {
      padding-left: 30px;

      &:first-child {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        padding-left: 2.75rem;
      }
    }

  }

  @media screen and (max-width: 425.98px) {

    .section-title {
      padding-top: 2rem;
    }

    .services-list {
      .col-md-6:first-child {
        margin: 0;
      }

      .col-md-6:nth-child(2) {
        padding-left: 15px;
      }

      .diamond {
        top: 0.80rem;
        width: 7px;
        height: 7px;
        left: -25px;
      }

      .services-list-item {
        font-family: avenirbook, sans-serif;
        font-size: 1rem;
        list-style-type: none;
      }
    }



    .section-title span {
      font-size: 1.0rem;
      padding: 15px;

      &:nth-child(2) {
        padding: 0;
      }
    }

    .section-title {
      font-size: 1.7rem;
    }

  }

  @media screen and (max-width: 575.98px) {

    .section-title {
      font-size: 1.9rem;
    }
    .services-list {

      .services-list-item {
        font-size: 1.2rem;
      }
    }
  }

}

/* **** Responsive **** */

/* Extra small devices */
@media (max-width: $screen-xs-max) {
    .services-art {
        background: url(./Assets/cloud-two.svg) bottom no-repeat, url(./Assets/cloud-3.svg) -5% 100% / 45% local no-repeat;
    }
}

/* Small devices */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .services-art {
        background: url(./Assets/cloud-two.svg) bottom no-repeat, url(./Assets/cloud-3.svg) -5% 100% / 45% local no-repeat;
    }
}

/* Medium devices */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .services-art {
        background: url(./Assets/cloud-two.svg) bottom no-repeat, url(./Assets/cloud-3.svg) -5% 100% / 45% local no-repeat;
    }
}

/* Large devices */
@media (min-width: $screen-lg-min) {
    .services-art {
      background: url(./Assets/services-art.svg) 90% 90% / 50% local no-repeat;
    }
}
