@import "../../../../index.scss";

#services {
  min-height: 766px;

  .section-title {
    font-size: 3.1rem;

    span {

      &:first-child {
        color: $orange;
      }

      font-size: 1.45rem;
    }

  }

  .services-list {

    .services-list-item {
      font-family: avenirbook, sans-serif;
      font-size: 1.65rem;
      list-style-type: none;
    }

    ul {
      padding-left: 30px;

      &:first-child {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        padding-left: 2.75rem;
      }
    }

  }

  .services-art-element-mobile {

    img:first-child {
       bottom: -112px;
       width: 125%;
       max-width: 150%;
       left: -15px;
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
       z-index: 0;
      }

      img:last-child {
        display: block;
        position: absolute;
        bottom: -20px;
        max-width: 75%;
        left: -100px;
        z-index: -1;
      }


    @media screen and (min-width: 992px) {
      padding-top: 3rem;
      display: none;
    }

  }

  .services-art-element {

    @media screen and (max-width: 991.98px){
      display: none;
    }

  }


  @media screen and (max-width: 425.98px) {
    .section-title {
      padding-top: 2rem;
    }

    .services-list {
      .col-md-6:first-child {
        margin: 0;
      }

      .col-md-6:nth-child(2) {
        padding-left: 15px;
      }

      .diamond {
        top: 0.80rem;
        width: 7px;
        height: 7px;
        left: -25px;
      }

      .services-list-item {
        font-family: avenirbook, sans-serif;
        font-size: .9rem;
        list-style-type: none;
      }
    }



    .section-title span {
      font-size: 1.0rem;
      padding: 15px;

      &:nth-child(2) {
        padding: 0;
      }
    }

    .section-title {
      font-size: 1.5rem;
    }

  }


}

/* **** Responsive **** */

/* Extra small devices (phones, less than 767px) */
@media (max-width: $screen-xs-max) {
  #services {
    height: calc(100vh - 60px);
  }
}

/* Small devices (tablets, 768px to 991px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #services {
    height: calc(100vh - 60px);
  }
}

/* Medium devices (desktops, 992px to 1199px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #services {
    height: 100vh;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  #services {
    height: 100vh;
  }
}
