/*.diamond {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ea5132;
  position: relative;
  top: -10px;
}
.diamond::after{
  content:'';
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #ea5132;
}*/
.diamond {
  width: 10px;
  height: 10px;
  background: #ea5132;
  margin-left: 12px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
