
.diamond {
  width: 10px;
  height: 10px;
  background: #ea5132;
  margin-left: 12px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.cloud-3 {
  position: relative;
  right: 85px;
  top: 20px;
  width: 80%;
}

.cloud-two {
  position: relative;
  bottom: 120px;
  right: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 150%;
}
