@import '../../../../index.scss';

#home {
  background-image: url("Assets/hero-image-overlayed.jpg");
  background-color: #fff;
  background-size: cover;

  .text-logo {
    transition: 450ms all ease-in;
    max-width: 230px;
    margin: 100px auto 0 auto;
    display: block;
  }

  .home-button {
    margin-top: 100px;

    a.button {
      border: 1px solid #EF3C24;
      color: #EF3C24;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 65%;
      padding: 18px 0 15px 0;
      font-family: 'avenirlight', sans-serif;
      text-transform: uppercase;

      &:hover {
        border-color: transparent;
        color: #fff;
      }

    }
  }

  .scroller-container {
    margin-top: 80%;
  }

  .project-button {
    font-family: slime-joe, sans-serif;
  }

  @media only screen and (max-width: $screen-xl-min) {
    .text-logo {
      max-width: 200px;
    }

  }

  @media only screen and (max-width: $screen-md-max) {
    .text-logo {
      max-width: 225px;
      margin-top: 200px;
    }

  }

  @media only screen and (max-width: $screen-sm-max) {
    .home-button{
      a.button {
        width: 100%;
        max-width: 215px;
      }
    }
  }

  @media only screen and (max-width: $screen-xs-max) {
    #home .text-logo {
      max-width: 230px;
      margin: 80px auto 0 auto;
      display: block;
    }
  }

  @media only screen and (max-width: 425px) {
    .text-logo {
      max-width: 230px;
    }
  }

  @media only screen and (max-width: 320px) {

    @media only screen and (max-height: 600px) {
      .text-logo {
        margin-top: 150px;
      }

      .home-button {
        margin-top: 50px;
      }
    }
  }
}
