@import '../../../../index.scss';

#home {
  background-image: url("Assets/hero-image-overlayed.jpg");
  background-color: #fff;
  background-size: cover;
  min-height: 766px;

  .text-logo {
    transition: 450ms all ease-in;
    max-width: 230px;
    margin: 100px auto 0 auto;
    display: block;
  }

  .home-button {
    margin-top: 100px;
  
    .button {
      border: 1px solid #EF3C24;
      color: #EF3C24;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 65%;
      padding: 18px 0 15px 0;
      font-family: 'avenirlight', sans-serif;
      text-transform: uppercase;

      &:hover {
        border-color: transparent;
        color: #fff;
      }

    }
  }

  .scroller-container {
    margin-top: 80%;
  }

  .project-button {
    font-family: slime-joe, sans-serif;
  }

  @media only screen and (max-width: 1200px) {
    .text-logo {
      max-width: 200px;
    }

  }

  @media only screen and (max-width: 991px) {
    .text-logo {
      max-width: 225px;
      margin-top: 200px;
    }

  }

  @media only screen and (max-width: 767px) {
    .home-button{
      a.button {
        width: 100%;
        max-width: 215px;
      }
    }
  }

  @media only screen and (max-width: 575px) {
    #home .text-logo {
      max-width: 230px;
      margin: 80px auto 0 auto;
      display: block;
    }
  }

  @media only screen and (max-width: 425px) {
    .text-logo {
      max-width: 230px;
    }
  }

  @media only screen and (max-width: 320px) {

    @media only screen and (max-height: 600px) {
      .text-logo {
        margin-top: 150px;
      }

      .home-button {
        margin-top: 50px;
      }
    }
  }
}

/* **** Responsive **** */

/* Extra small devices (phones, less than 767px) */
@media (max-width: $screen-xs-max) {
  #home {
    height: calc(100vh - 60px);
  }
}

/* Small devices (tablets, 768px to 991px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #home {
    height: calc(100vh - 60px);
  }
}

/* Medium devices (desktops, 992px to 1199px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #home {
    height: calc(100vh - 78.41px);
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  #home {
    height: calc(100vh - 78.41px);
  }
}
