@import '../index.scss';

//font declarations
@font-face {
  font-family: avenirlight;
  src: url("../fonts/avenir-light.otf") format("opentype");
}

@font-face {
  font-family: avenirbook;
  src: url("../fonts/avenir-book.otf") format("opentype");
}

@font-face {
  font-family: avenirheavy;
  src: url("../fonts/avenir-heavy.otf") format("opentype");
}

@font-face {
  font-family: big-john;
  src: url("../fonts/big-john.otf") format("opentype");
}

@font-face {
  font-family: slime-joe;
  src: url("../fonts/slim-joe.otf") format("opentype");
}

.orange-bg {
  background-color: $orange;
}

//font classes
.avenir-light {
  font-family: avenirlight, sans-serif;
}

.avenir-book {
  font-family: avenirbook, sans-serif;
}

.avenir-heavy {
  font-family: avenirheavy, sans-serif;
}

.big-john {
  font-family: big-john, sans-serif;
}

.slim-joe {
  font-family: slime-joe, sans-serif;
}

// global transitions
* {
  transition: 300ms all ease-in;
}

// global focus
*:focus,
.form input:focus,
.form textarea:focus  {
  outline: 0;
  // outline: 5px auto -webkit-focus-ring-color;
  border: 1px solid $light-orange;
  -webkit-box-shadow: none;
  box-shadow: 0 0 5px 2px $orange;
  transition: 0s;
}
#social a {
  border-radius: 50%;
}

// art elements
.diamond {
  width: 10px;
  height: 10px;
  background: #ea5132;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  position: relative;
  top: 1.5rem;
  left: -25px;
}


// utility
.min-height-50 {
  min-height: 50px;
}

.min-height-100 {
  min-height: 100px
}

.min-height-150 {
  min-height: 150px
}

.min-height-200 {
  min-height: 200px
}

.border-orange {
  border: 1px solid $orange;
}

.border-blue {
  border: 1px solid $blue;
}

.border-black {
  border: 1px solid $black;
}

.border-white {
  border: 1px solid $light-gray;
}

body {
  width: 100vw;
  overflow-x: hidden;

  @media screen and (max-width: $screen-md-max) {
    padding-bottom: 60px;
  }
}

.fit {
  width: 100vw;
}

/* **** Responsive **** */

/* Extra small devices */
@media (max-width: $screen-xs-max) {
  #about, #blog, #contact, #home, #services, #team, .team-bg {
    height: calc(100vh - 60px);
    min-height: 766px;
  }
}

/* Small devices */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #about, #blog, #contact, #home, #services, #team, .team-bg {
    height: calc(100vh - 60px);
    min-height: 766px;
  }
}

/* Medium devices */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #about, #blog, #contact, #home, #services, #team, .team-bg{
    height: calc(100vh - 60px);
    min-height: 766px;
  }
}

/* Large devices */
@media (min-width: $screen-lg-min) {
  #about, #blog, #contact, #home, #services, #team, .team-bg {
    height: 100vh;
    min-height: 766px;
  }
}
