@font-face {
  font-family: avenirlight;
  src: url("../fonts/avenir-light.otf") format("opentype");
}

@font-face {
  font-family: avenirbook;
  src: url("../fonts/avenir-book.otf") format("opentype");
}

@font-face {
  font-family: avenirheavy;
  src: url("../fonts/avenir-heavy.otf") format("opentype");
}

@font-face {
  font-family: big-john;
  src: url("../fonts/big-john.otf") format("opentype");
}

@font-face {
  font-family: slime-joe;
  src: url("../fonts/slim-joe.otf") format("opentype");
}

* {
  transition: 300ms all ease-in;
}
 