@import '../../../index.scss';

button:focus {
  outline: 0;
}

.button {
  border: 1px solid $orange;
  background-color: rgba(255, 255, 255, 0);
  color: $orange;
  font-family: avenirbook, sans-serif;
  width: 100%;
  cursor: pointer;
  padding: 0.5em 2.3em;
  transition: 450ms width ease-in, 300ms background-color ease-in;

  &:hover {
    text-decoration: none;
    color: #fff;
    background: $orange;
    border:  1px solid $orange;
  }

}

.button-sub-text {
  font-size: 11px;
  font-family: 'avenirheavy', sans-serif;
  margin: 10px auto 0 auto;
  text-align: center;
}

@media (min-width: $screen-lg-min) {
  .button {
    border: 1px solid #EF3C24;
    color: #EF3C24;
    font-family: avenirbook, sans-serif;
    width: 100%;
    padding: 0.5em 2.3em;
    transition: 450ms width ease-in, 300ms background-color ease-in;

    &:hover {
      text-decoration: none;
      color: #fff;
      background: $orange;
      border: 1px solid $orange;
    }

  }
}
