@import "../../../index.scss";

.nav {
  .white-logo {
    filter: brightness(100);
  }

  nav {
    text-transform: lowercase;
    z-index: 10;
    padding-top: 20px;

    .navbar-brand img {
      z-index: 10;
      position: relative;
    }

    ul.navbar-nav {
      text-align: right;
      display: inline-block;
    }

    .slide-nav {
      right: -5% !important;
    }

    img {
      width: 50px;
    }

    li.nav-item {
      display: inline-block;
      margin: 10px 0 0 2.8rem;
      font-size: 14px;

      a {
        color: $black;

        &:hover {
          color: $orange !important;
        }
      }
    }

    .navbar-toggler {
      display: none;
      border: none;
      padding: 0;
      margin: 0;
      transition: 400ms all ease-in-out;
      z-index: 10;

      &:focus {
        outline: 0;
      }

      img {
        width: 30px;
      }
    }

    .nav-rotated {
      transform: rotateZ(270deg);
    }

    .nav-light {
      filter: brightness(100);
    }

    #navbarNav {
      text-align: right;
    }

    @media screen and (max-width: $screen-md-max) {
      position: fixed !important;
      left: 0 !important;
      right: 0 !important;
      padding-top: 10px;


      .navbar-brand img {
        width: 30px;
      }

      .navbar-toggler {
        display: block;
        float: right;
        margin-top: 0.5rem;
        z-index: 5;
        position: relative;
        
        img {
          width: 25px;
        }
      }

      li.nav-item {
        font-size: 22px;
        font-family: avenirbook, arial, sans-serif;
        text-transform: uppercase;
        margin: 0 0 0 30px;
      }

      ul.navbar-nav {
        right: unset;
        margin-top: 30px;
        display: flex;
        text-align: left;
      }

      .navbar-collapse {
        height: 100%;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.98);
        width: 85%;
        right: -110%;
        transition: 500ms all cubic-bezier(.92,.05,.23,1.16);
        padding: 50px 0;
        z-index: 1;
        top: 0;
      }


    }

    @media screen and (max-width: 320px) {

      @media screen and (max-height: 600px){
        li.nav-item {
          font-size: 16px;
        }

        #socialMenu {
          top: 315px;

          img {
            width: 35px;
          }
        }

      }
    }
  }
}