@import "../../../../../../index.scss";

.team-learn-more{  //Right Section
  font-family: big-john, sans-serif;

  h2{
    margin: -20px 0;
    font-size: 6rem;
    @media screen and (max-width: 991px){
      margin: -10px 0;
      font-size: 4rem;
    }    
  }
  h3{
    margin: -25px 0;
    font-size: 4.5rem;
    @media screen and (max-width: 991px){
      margin: -15px 0;
      font-size: 2.5rem;
    }
  }
  p{
    // min-width: 325px;
    font-family: avenirlight, sans-serif;
    @media screen and (max-width: 991px){
      font-size: .75rem;
    }
  }
}