.single-user-img{
  background-color: #fff;
  
  img{
    transition: 0s all;

    width: 500px;
    height: 500px;

    @media screen and (max-width: 1199px){
      width: 400px;
      height: 400px;
    }

    @media screen and (max-width: 991px){
      width: 200px;
      height: 200px;
    }
  }
}