@import '../../../../../../index.scss';

.single-user-img{
  background-color: #fff;
  
  img{
    transition: 0s all;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;

    @media screen and (max-width: $screen-lg-max){
      max-width: 400px;
      max-height: 400px;
      width: auto;
      height: auto;
    }

    @media screen and (max-width: $screen-md-max){
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
  }
}
