@import '../../../../index.scss';


.carosuel{
  background-color: rgba(0,0,1,.5);  
}

.postOne{
  background-color: black;  
  max-width: 430px;  
  background-color: rgba(0,0,0,.8); 
  height: 100px;
}

.postTwo{
  background-color: black; 
  max-width: 350px;
  height: 90px;
  background-color: rgba(0,0,0,.8); 
  position: absolute;
  left: 35px;
  bottom: 30px; 
}

.postThree{
  background-color: black;  
  align-content: center;
  width: 350px;
  height: 84px;
  background-color: rgba(0,0,0,.8); 
  position: absolute;
  left: 30px;
  bottom: 30px; 
}

.postTitle1{
  font-family: "Arial Black", Gadget, sans-serif; 
  font-size: 1.6rem;
  color: white;  
  font-weight: 1000;
  margin-top: 10px;
  margin-bottom: 2px;
  text-align: left;
  
}

.postTitle2{
  font-family: "Arial Black", Gadget, sans-serif; 
  font-size: 1.3rem;
  color: white;  
  font-weight: 800;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 0px;

  
}

.postTitle3{
  font-family: "Arial Black", Gadget, sans-serif; 
  font-size: 1.24rem;
  color: white;
  font-weight: 800;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 0px;
  
}


.authorInfo{
  color: white;
  font-size: .7rem;
  font-weight: 600;
}

.verticalBar {
  color: red;
}


.carousel-control-next{
  width: 90px;
}

.carousel-control-prev{
  width: 90px;
  opacity: .4;
}



.blog1{
  background-image: url("../Blog/AssetsB/post-one.jpg");
  background-size: 100% 100%;
  height: 100vh;
  max-height: 100%;
  background-repeat: no-repeat;
}
#blog3{
  background-image: url("../Blog/AssetsB/post-two.jpg");
  background-size: 100% 100%;
  height: 60vh;
  background-repeat: no-repeat;
}

#blog4{
  background-image: url("../Blog/AssetsB/post-two.jpg");
  background-size: 100% 100%;
  height: 40vh;
  background-repeat: no-repeat;
}


// @media (min-height: 740px) {
//   #blog3 {
//     height: 40vh;

//   } 
//   #blog4 {
//     height: 1 0vh;
//   }
// }

@media (max-height: 1025px ) and ( max-width: 770px) {
  .blog1{
    max-height: 86vh ;
  }
  #blog3{
    max-height: 52vh;
  }
  #blog4{
    max-height: 34vh;
  }
  .postTitle2{
    font-size: 1.1rem;

  }
  .postTwo{
    left: 0px;
  }
  .postTitle3{
    font-size: 1rem;
  }
  .postThree{
    left: 0px;
  }
  
}