@import './../../../index.scss';

#mobileMenu {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 15;
  height: 60px;
  background-color: rgba(255,255,255,0.99);

  .mobile-menu-icon {
    img {
      position: relative;
      display: block;
      width: 25px;
      margin: 15px auto;
      cursor: pointer;
      z-index: 20;

    }

    &:nth-child(2) img{
      margin-top: 20px;
    }
    &:nth-child(3) img{
     width: 22px;
    }
  }

  @media screen and (min-width: $screen-sm-min){
    display: none;
  }
}
