$orange : #EF3C24;
$light-orange : #FF7F41;
$dark-blue : #1F2A44;
$blue : #003A70;
$gray : #D9E1E2;
$light-gray : #DDE5ED;
$black : #212322;

/* Media Query Values */
$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
