@import '../../../index.scss';

.form {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
    }

    label {
        font-family: 'avenirheavy', sans-serif;
    }

    input:focus {
        outline: none;
    }

    textarea {
        resize: none;
    }

    textarea:focus {
        box-shadow: none;
    }

    .text-color {
        color: black;
    }

    .border-bot {
        border-bottom: 1px solid black;
    }

    .border-all {
        border: 1px solid black;
    }

    // Modifies CSS for Button Component
    .send-button {
        width: fit-content;
        margin: 0;
        border: 1px solid $black;
        color: $black;
        font-family: 'avenirbook', sans-serif;

        &:hover {
            text-decoration: none;
            color: $light-gray;
            background: $orange;
            border: 1px solid $orange;
        }
    }

}

@media (min-width: 992px) {
    .form {
        .text-color {
            color: #EF3C24;
        }

        .border-bot {
            border-bottom: 1px solid #EF3C24;
        }

        .border-all {
            border: 1px solid #EF3C24
        }

        // Modifies CSS for Button Component
        .send-button {
            border: 1px solid $orange;
            color: $orange;
            font-family: inherit;

            &:hover {
                color: #fff;
                background: $orange;
            }
        }

    }
}
