@import '../../../index.scss';

.form {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
    }

    label {
        font-family: 'avenirheavy', sans-serif;
        font-size: 14px;
    }

    input:focus {
        outline: none;
    }

    textarea {
        resize: none;
    }

    .text-color {
        color: black;
    }

    .border-bot {
        border-bottom: 1px solid black;
    }

    .border-all {
        border: 1px solid black;
    }

    // Modifies CSS for Button Component
    .send-button {
        width: fit-content;
        margin: 0;
        border: 1px solid $black;
        color: $black;
        font-family: 'avenirbook', sans-serif;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: $orange;
            border: 1px solid $orange;
        }
    }

}
